

body {
    // background-color: #16171f;
    background-color: black;
    color: #f4f4f4;
    font-family: 'Mukta Malar', sans-serif;
    line-height: 1.8;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Mukta Malar', sans-serif;
}

hr {
    border-color: #555;
}

@include media-breakpoint-up(lg) {
    .lead-lg {
        font-size: 1.25rem;
    }
}
